@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'
@import 'normalize.css'
@import '../oembed/oembed.css'

// Media queries
$desktop = 1600px
$laptop = 1100px
$tablet = 768px
$mobile = 400px

// Colors
$primary ?= #fff
$secondary ?= #000
center = center

// Metrics
$padding = 7px

// CSS Reset
global-reset()

webfont('NH', 'NH', true, 'normal')
webfont('NHI', 'NHI', true, 'italic')

body,html
	width 100%
	height 100%
	background-color $primary
	-webkit-text-size-adjust 100%

html
	font-size 62.5%

body
	font-smoothing()
	font-size 2.3em
	line-height 1.1em
	font-family 'NH', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
	padding $padding

p
	line-height 1.2em
	margin-bottom 1em

::selection
	background lightgrey
	
::-moz-selection
	background lightgrey

::-webkit-scrollbar
	width 0px
	background transparent

*
	box-sizing()

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

em
	font-family 'NHI', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

h1, h2, strong
	text-transform uppercase

h1, h2, h3
	position relative
	padding-top .13em
	text-align left
	overflow visible

h1::before, h2::before, h3::before, span.menu div.articles::before
	content ''
	position absolute
	top 0
	left 0
	width 100%
	height 1px
	background $secondary

h1:last-child::after, h2:last-child::after, h3:last-child::after, .inner h2::after, .inner h3::after, span.menu div.article:not(:last-child)::after
	content ''
	position absolute
	bottom 0
	left 0
	width 100%
	height 1px
	background $secondary

h4
	padding-top .13em
	
h4::before
	content '\00a0'

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	background-size 15px
	z-index 10000

body
	span.back
		display none
		hideselect()
		position absolute
		bottom $padding
		left $padding
		z-index 2000
		h2::before, h2::after
			display none
	#wrap::before
		+above($tablet)
			content ''
			position fixed
			top 0
			left 'calc(50% - %s)' % ($padding/2)
			height 100%
			width $padding
			background $primary
	#wrap
		position relative
		width 100%
		height 100%
		.slider
			hideselect()
			position absolute
			display inline-block
			cursor pointer
			border $padding solid $primary
			.gallery_cell
				left 0 !important
				transition(-webkit-mask-position,3s)
				-webkit-animation wipe 6s infinite
				-webkit-animation-delay 3s
				-webkit-animation-direction alternate
				-webkit-mask-size 100% 100%
				-webkit-mask-position 0px 0
				-webkit-mask-repeat no-repeat
				-webkit-mask-image -webkit-gradient(linear, left top, right top, color-stop(0.00,  rgba(0,0,0,1)),color-stop(0.35,  rgba(0,0,0,1)),color-stop(0.50,  rgba(0,0,0,0)),color-stop(0.75,  rgba(0,0,0,0)),color-stop(1.00,  rgba(0,0,0,0)));
			.gallery_cell.is-selected
				-webkit-mask-position 3000px 0
			.gallery_cell.is-selected + .gallery_cell
				-webkit-mask-image none
			canvas
				position absolute 
				top 0
				left 0
				width 100%
				height 100%
			img
				height 100%
				width auto
				display block
				opacity 0
		.slider.size-1
			height 60vh
			img:nth-child(n+3)
				margin-top -60vh
		.slider.size-2
			height 80vh
			img:nth-child(n+3)
				margin-top -80vh
		.slider.size-3
			height 100vh
			img:nth-child(n+3)
				margin-top -100vh
		.slider.size-4
			height 120vh
			img:nth-child(n+3)
				margin-top -120vh
		.slider.size-5
			height 160vh
			img:nth-child(n+3)
				margin-top -160vh
		.slider.size-6
			height 180vh
			img:nth-child(n+3)
				margin-top -180vh
		.videoContainer
			width 100%
			height 100%
			position relative
			#videoPlayer
				float left
			.control
				color #ccc
				float left
				clear both
				width 100%
				z-index 5
				display none
				.btnPlay
					float left
					width 34px
					height 30px
					padding 5px
					cursor pointer
				.icon-play
					background url('../images/vp_sprite.png') no-repeat -11px 0
					width 6px
					height 9px
					display block
					margin 4px 0 0 8px
				.icon-pause
					background url('../images/vp_sprite.png') no-repeat -34px -1px
					width 8px
					height 9px
					display block
					margin 4px 0 0 8px
				.selected
					font-size 15px
					color #ccc
				.sound
					width 30px
					height 30px
					float left
					cursor pointer
				.icon-sound
					background url('../images/vp_sprite.png') no-repeat -19px 0
					width 13px
					height 10px
					display block
					margin 8px 0 0 8px
				.muted .icon-sound
					width 7px !important
				.btnFS
					width 30px
					height 30px
					float left
				.icon-fullscreen
					background url('../images/vp_sprite.png') no-repeat 0 0
					width 10px
					height 10px
					display block
					margin 8px 0 0 9px
			.btmControl
				clear both
			.progress-bar
				height 20px
				padding 10px 0px
				float left
				width 100%
			.progress
				width 100%
				height 1px
				position relative
				cursor pointer
				background rgba(0,0,0,0.2) /* fallback */
			.progress span
				height 100%
				position absolute
				top 0
				left 0
				display block
				border-radius 10px
			.timeBar
				z-index 10
				width 0
				background $secondary
			.bufferBar
				z-index 5
				width 0
				background rgba(0,0,0,0.2)
			.volume
				position relative
				cursor pointer
				width 70px
				height 10px
				float right
				margin-top 10px
				margin-right 10px
			.volumeBar
				display block
				height 100%
				position absolute
				top 0
				left 0
				background-color #eee
				z-index 10
		span.loading
			position absolute
		span.switch
			hideselect()
			span(1)
			margin-top 4em
			//position fixed
			//top calc(50% - 1em)
			//left $padding
			//width 'calc(100% - %s)' % ($padding * 2)
		span.menu
			span(1)
			hideselect()
			h2.feed
				cursor pointer
			div.articles
				position relative
				display none
			div.articles.show
				display block
			div.article
				position relative
				padding-top .13em
		#page_content
			display none
			background $primary
			+above($tablet)
				span(1/2)
				height 100vh
				overflow-y scroll
				position fixed
				right 0
				top $padding
				padding-bottom $padding*2
				border-left $padding solid $primary
				border-right $padding solid $primary
			.inner
				flowing-paragraph(1em)
				h2 + h2::before, h2 + h3::before
					display none
				h2 + p, .sticky-container + p
					padding-top .13em
				.sticky-container
					z-index 1
					position relative
					background $primary
					.fixed
						position fixed
						top $padding
						left 'calc(50% + %s)' % ($padding)
						width 'calc(50% - %s)' % ($padding*2)
						background $primary
						z-index 0
					.fixed.absolute
						position absolute
				.article:not(:last-child)
					margin-bottom 1.13em
			.inner.article
				text-align justify
				text-justify inter-word

body.page
	span.back
		+below($tablet)
			position fixed
			width 'calc(100% - %s)' % ($padding*2)
			background $primary
			display block
		h2::before, h2::after
			+below($tablet)
				display block
	#wrap
		overflow-y scroll
		-webkit-overflow-scrolling touch
		span.menu, span.switch
			+below($tablet)
				display none
		#page_content
			display block
			+below($tablet)
				padding-bottom 'calc(1em + %s)' % ($padding)

body.project
	overflow hidden
	padding 0
	#wrap
		overflow hidden
	span.back
		line-height 1em
		display block
		bottom 'calc(%s - .1em)' % ($padding)