@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'
@import 'normalize.css'
@import '../oembed/oembed.css'

// Media queries
$desktop = 1600px
$laptop = 1100px
$tablet = 768px
$mobile = 400px

// Colors
$primary ?= #fff
$secondary ?= #000
center = center

// Metrics
$padding = 7px

// CSS Reset
global-reset()

webfont('NH', 'NH', true, 'normal')
webfont('NHI', 'NHI', true, 'italic')

body,html
	width 100%
	height 100%
	background-color $primary
	-webkit-text-size-adjust 100%

html
	font-size 62.5%

body
	font-smoothing()
	font-size 2.3em
	line-height 1em
	font-family 'NH', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
	padding $padding

p
	line-height 1.1em
	margin .1em 0 1em

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()
	box-sizing()

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

em
	font-family 'NHI', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

h1, h2, strong
	text-transform uppercase

h1, h2, h3
	border-top 1px solid $secondary
	padding-top .1em
	text-align left

h1:last-child, h2:last-child, h3:last-child
	border-bottom 1px solid $secondary

h4
	padding-top .1em
	
h4::before
	content '\00a0'

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	background-size 15px
	z-index 10000

body
	#wrap
		position relative
		width 100%
		height 100%
		.slider
			position absolute
			display inline-block
			cursor pointer
			.gallery_cell
				left 0 !important
				transition(-webkit-mask-position,3s)
				-webkit-animation wipe 6s infinite
				-webkit-animation-delay 3s
				-webkit-animation-direction alternate
				-webkit-mask-size 100% 100%
				-webkit-mask-position 0px 0
				-webkit-mask-repeat no-repeat
				-webkit-mask-image -webkit-gradient(linear, left top, right top, color-stop(0.00,  rgba(0,0,0,1)),color-stop(0.35,  rgba(0,0,0,1)),color-stop(0.50,  rgba(0,0,0,0)),color-stop(0.75,  rgba(0,0,0,0)),color-stop(1.00,  rgba(0,0,0,0)));
			.gallery_cell.is-selected
				-webkit-mask-position 3000px 0
			.gallery_cell.is-selected + .gallery_cell
				-webkit-mask-image none
			canvas
				position absolute 
				top 0
				left 0
				width 100%
				height 100%
			img
				height 100%
				width auto
				display block
				visibility hidden
		.slider.size-1
			height 'calc(60vh - %s)' % ($padding*2)
			img:nth-child(n+2)
				margin-top 'calc(-60vh + %s)' % ($padding*2)
		.slider.size-2
			height 'calc(80vh - %s)' % ($padding*2)
			img:nth-child(n+2)
				margin-top 'calc(-80vh + %s)' % ($padding*2)
		.slider.size-3
			height 'calc(100vh - %s)' % ($padding*2)
			img:nth-child(n+2)
				margin-top 'calc(-100vh + %s)' % ($padding*2)
		.slider.size-4
			height 'calc(120vh - %s)' % ($padding*2)
			img:nth-child(n+2)
				margin-top 'calc(-120vh + %s)' % ($padding*2)
		.slider.size-5
			height 'calc(160vh - %s)' % ($padding*2)
			img:nth-child(n+2)
				margin-top 'calc(-160vh + %s)' % ($padding*2)
		.slider.size-6
			height 'calc(180vh - %s)' % ($padding*2)
			img:nth-child(n+2)
				margin-top 'calc(-180vh + %s)' % ($padding*2)
		span.switch h2
			span(1)
			//position fixed
			//top calc(50% - 1em)
			//left $padding
			//width 'calc(100% - %s)' % ($padding * 2)
			margin-top 4em
		span.back
			position fixed
			bottom $padding
			left $padding
			h2
				border none
		span.menu
			span(1)
			h2.feed
				cursor pointer
			div.articles
				border-top 1px solid $secondary
				display none
			div.articles.show
				display block
			div.article
				padding-top .1em
			div.article:not(:last-child)
				border-bottom 1px solid $secondary
		#page_content
			display none
			span(1/2)
			height 100vh
			overflow-y scroll
			position fixed
			right 0
			top $padding
			padding 0 $padding $padding*2
			background $primary
			.inner
				.sticky-container
					z-index 1
					position relative
					background $primary
					.fixed
						position fixed
						top $padding
						left 'calc(50% + %s)' % ($padding)
						width 'calc(50% - %s)' % ($padding*4)
						background $primary
						z-index 0
					.fixed.absolute
						position absolute
				h2, h3
					border-bottom 1px solid $secondary
					margin-bottom -1px
				h4
					margin-bottom 1px
				flowing-paragraph(1em)
				text-align justify
				text-justify inter-word
				.article:not(:last-child)
					margin-bottom 1.1em

body.page
	#wrap
		#page_content
			display block

body.project
	overflow hidden